#cabeceraProyecto{
    min-height: 500px;
    height: 80vh;
    overflow: hidden;
}

.owl-header .owl-dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.cuadroGris{
    background: rgba($color: $brand-second-color, $alpha: .8);
    position: absolute;
    z-index: 2;
    width: 50%;
    min-height: 500px;
    height: 80vh;
    top: 0;
    right: 0;
}

.textoHeader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: calc(1vw + 40px);
    z-index: 4;
    font-family: 'Lato', sans-serif;
}

.logo-matte{
    width: calc(50% - 100px);
    margin: auto 20% auto auto;
}

.img-carousel{
    min-height: 500px;
    height: 80vh;
    object-fit: cover;
}

// FORMULARIO CONTACTO

#formulario{
    width: 350px;
    position: fixed;
    top: calc(50% - 200px);
    height: auto;
    right: 0;
    z-index: 100;
    img{
        width: 150px;
    }
}

#inputsFormulario{
    transition: .6s ease all;
    position: absolute;
    right:55px;
    font-size: smaller;
}

.esconde-formulario{
    position: relative;
    margin-right: -200%;
    transition: .3s ease all;
}

.input_rut{
    margin: 5px 0px 0px 0px !important;
    padding: .5rem 0 !important;
}

.rut-container{
    height: 20px !important;
}

.tituloContacto{
    cursor: pointer;
}

.rotar-90{
    transform: rotate(90deg) !important;
}

input{
    border: none !important;
    border-bottom: 1px solid #e3e3e3!important;
    width: 100% !important;
    height: calc(60% / 5);
    margin: 5px auto 0px auto !important;
}

textarea{
    border-radius: 5px;
    border: 1px solid #e3e3e3 !important;
    width: 100%;
    height: calc(60% / 5);
    resize: none !important;
    padding: 2px 5px;
}

.btn-enviar{
    font-size: smaller;
    padding: 5px 15px !important;
    margin: 10px auto 0px auto !important;
}

.btn-disabled{
    filter: opacity(.5) !important;
    cursor: no-drop !important;
}

.rut-container{
    width: 100%;
    height: auto;
}

.icono-contacto{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px 0px 5px 0px;
    &:hover{
        text-decoration: none;
    }
}


// PROYECTO

.decoMatte{
    position: absolute;
    height: auto;
    width: 60vw;
    left: 0;
    margin-top: -5px;
    z-index: 10;
}

.punto{
    font-size: 15px !important;
    position: relative;
    bottom: 1px;
}

.borde-separador{
    border-left: 2px solid $brand-primary-color;
}

.icono-proyecto{
    width: 60px;
}

// PLANTAS

.owl-plantas{
    max-height: 450px;
}

.owl-plantas .owl-nav{
    position: absolute;
    top: 30%;
    width: 100%;
    font-size: xx-large;
}

.owl-plantas .owl-nav .owl-prev{
    position: absolute;
    left: -30px;
}

.owl-plantas .owl-nav .owl-next{
    position: absolute;
    right: -30px;
}

.img-planta{
    height: 250px;
    object-fit: scale-down;
}

.tipo-planta{
    font-size: 15px;
}

// COMODIDADES

// GALERIA

img{
    transition: .5s ease all;
    cursor: pointer;
}

.grid-item img:hover{
    transform: scale(1.5);
    transition: .5s ease all;
}

// LUGARES PARA DESCUBRIR

.numeroEntorno{
    color: $brand-primary-color;
}

// FOOTER

.iconoRedes{
    width: 15px;
    margin: 0px 5px;
}

// RELACIONADO A MASONRY

/* ---- grid ---- */

.grid {
    background: none;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 20%;
    overflow: hidden;
  }

  .grid-item-4{
      width: 40% !important;
  }

  .grid-item-h25{
      height: 28% !important;
  }
  
  .grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }