@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: $primary-font !important;
}

.upper{
    text-transform: uppercase !important;
}

.light{
    font-weight: 300;
}

.regular{
    font-weight: normal;
}

.bolder{
    font-weight: bolder;
}

.black{
    font-weight: 800;
}

.text-verde{
    color: $brand-primary-color !important;
}

.text-light-gray{
    color: #949494;
}

.text-shadow{
    text-shadow: rgba($color: #000000, $alpha: .6) 0px 0px 20px;
}

.legal{
    font-size: smaller !important;
}

section h2{
    font-size: 20px;
    letter-spacing: 2px;
    @include MQ(M){
        font-size: 20px;
        letter-spacing: 6px;
    }
}

.espaciado{
    letter-spacing: 4px;
}

// PROYECTO

.num-dorm{
    font-size: 1.3rem;
    @include MQ(M){
        font-size: 2.5rem;
    }
}

.text-item-proyecto{
    font-size: 1.3rem;
    @include MQ(M){
        font-size: 1.8rem;
    }
}

// PLANTAS

#texto-plantas{
    @include MQ(M){
        margin-top: 10px !important;
        margin-bottom: 100px !important;
    }
}

.que-planta{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0px !important;
}

.punto{
    font-size: 25px;
    bottom: 0px;
    position: relative;
}

// IFRAME

.iframeSize{
    font-size: 20px !important;
}