$primary-font: 'Open Sans', sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-extra-bold: 900;

// Colores
$palette: (
    ultra-ligth-grey: #F5F6FA,
    ligth-grey: #DCDDE1,
    medium-grey: #697789,
    brand-grey: #2F3640,
    dark-grey: #1F232A,
    brand-primary-color: #89836c,
    brand-second-color: #53565a,
    brand-third-color: #144c79,
    brand-green: #41b451
);

$ligth-grey: map-get($palette,ligth-grey);
$ultra-ligth-grey: map-get($palette,ultra-ligth-grey);
$medium-grey: map-get($palette,medium-grey);
$brand-grey: map-get($palette,brand-grey);
$dark-grey: map-get($palette,dark-grey);
$brand-primary-color: map-get($palette,brand-primary-color);
$brand-second-color: map-get($palette,brand-second-color);
$brand-third-color: map-get($palette,brand-third-color);
$brand-green: map-get($palette,brand-green);
$white:white;

.bg-white-2{
    background: rgba($color: #fff, $alpha: .2);
}

.bg-second-3{
    background: rgba($color: $brand-second-color, $alpha: .3);
}

.opacity-2{
    opacity: .2;
}