/* Feel free to change duration  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.animated {
  -webkit-animation-duration: 1000 ms;
  animation-duration: 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1; }

/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0; }

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

button:focus {
  outline: none !important; }

.bg-white-2 {
  background: rgba(255, 255, 255, 0.2); }

.bg-second-3 {
  background: rgba(83, 86, 90, 0.3); }

.opacity-2 {
  opacity: .2; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans", sans-serif !important; }

.upper {
  text-transform: uppercase !important; }

.light {
  font-weight: 300; }

.regular {
  font-weight: normal; }

.bolder {
  font-weight: bolder; }

.black {
  font-weight: 800; }

.text-verde {
  color: #89836c !important; }

.text-light-gray {
  color: #949494; }

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 20px; }

.legal {
  font-size: smaller !important; }

section h2 {
  font-size: 20px;
  letter-spacing: 2px; }
  @media screen and (min-width: M) {
    section h2 {
      font-size: 20px;
      letter-spacing: 6px; } }

.num-dorm {
  font-size: 1.3rem; }
  @media screen and (min-width: M) {
    .num-dorm {
      font-size: 2.5rem; } }

.text-item-proyecto {
  font-size: 1.3rem; }
  @media screen and (min-width: M) {
    .text-item-proyecto {
      font-size: 1.8rem; } }

@media screen and (min-width: M) {
  #texto-plantas {
    margin-top: 10px !important;
    margin-bottom: 100px !important; } }

.que-planta {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0px !important; }

.punto {
  font-size: 25px;
  bottom: 0px;
  position: relative; }

.iframeSize {
  font-size: 20px !important; }

#menu {
  height: auto;
  padding: 20px 0px;
  z-index: 2; }

#menu img {
  height: 35px; }

nav li a {
  font-size: calc( .5vw + 6px);
  font-weight: lighter;
  text-decoration: none;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  color: #fff !important; }
  nav li a:hover {
    text-decoration: none !important;
    color: #fff;
    opacity: .6; }

.bg-primary {
  background: #89836c !important; }

.menu-scroll {
  height: 96px !important; }

.bg-second {
  background: #53565a; }

.bg-second-alpha {
  background: rgba(83, 86, 90, 0.95);
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }
  .bg-second-alpha:hover {
    background: #53565a;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 25px; }

.btn-verde {
  background: none !important;
  border: 1px solid #89836c !important;
  color: #89836c; }

#cabeceraProyecto {
  min-height: 500px;
  height: 80vh;
  overflow: hidden; }

.owl-header .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.cuadroGris {
  background: rgba(83, 86, 90, 0.8);
  position: absolute;
  z-index: 2;
  width: 50%;
  min-height: 500px;
  height: 80vh;
  top: 0;
  right: 0; }

.textoHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: calc(1vw + 40px);
  z-index: 4;
  font-family: 'Lato', sans-serif; }

.img-carousel {
  min-height: 500px;
  height: 80vh;
  -o-object-fit: cover;
  object-fit: cover; }

.decoMatte {
  position: absolute;
  height: auto;
  width: 60vw;
  left: 0;
  margin-top: -5px;
  z-index: 10; }

.punto {
  font-size: 15px !important;
  position: relative;
  bottom: 1px; }

.borde-separador {
  border-left: 2px solid #89836c; }

.icono-proyecto {
  width: 60px; }

.owl-plantas {
  max-height: 450px; }

.owl-plantas .owl-nav {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: xx-large; }

.owl-plantas .owl-nav .owl-prev {
  position: absolute;
  left: -30px; }

.owl-plantas .owl-nav .owl-next {
  position: absolute;
  right: -30px; }

.img-planta {
  height: 250px;
  -o-object-fit: scale-down;
  object-fit: scale-down; }

.tipo-planta {
  font-size: 15px; }

.numeroEntorno {
  color: #89836c; }

.iconoRedes {
  width: 15px;
  margin: 0px 5px; }

.destacar {
  border: 1px solid red;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*# sourceMappingURL=main.css.map */